body {
}
#result {
    width:100%;
    margin-top:10px;
    border-radius:7px;
}
input[type=button] {
    min-width: 55px;
    margin:4px;
    padding:5px;
    text-align:center;
}
.imgx {
    max-width:100%;
}

    /*.row{
        margin:0 !important;
    }*/
